extends layout

block content
    if loggedin && isadmin
        if alertmessage
            p(style="color: red")=alertmessage
        form(name="editpost", action="/blog/editpost", method="post", class="formpost")
            div
                label Post Title:
            div
                input(type="hidden", name="postid" value=post.id)
                input(
                    type="text",
                    name="posttitle",
                    value=post.posttitle
                )
            div
                label Post Body:
                br
            div
                textarea(
                    name="postbody", 
                    cols="120", 
                    rows="20"
                )=post.postbody
            br
            input(type="submit", value="editpost")
        