extends ../layout

block content
    if alertmessage
        p(style="color: red")=alertmessage
    if loggedin && isadmin
        a(href ="/blog/addpost") Add New Post
    if posts
        each val in posts
            if loggedin && isadmin
                form(name="editpost", action="/blog/editpost", method="get")
                    input(type="hidden", name="postid" value=val.id)
                    input(type="submit", value="editpost")

            article(class="mainblog")
                header
                    a(class="blogposttitlehref" href ="/blog/viewpost/"+val.id)=val.posttitle
                    p
                        time= (moment(val.postdate).format('MMM Do YYYY'))
                img(src=val.imagefilepath, alt=val.imagealt, title=val.imagealt) 
                p(class="articlemainparagraph")!=val.postbody
                a(href ="/blog/viewpost/"+val.id) Read More