extends ../layoutblog

block content
    script(type="application/ld+json"). 
        {
            "@context": "http://schema.org/",
            "@type": "Article","name": "#{post.posttitle}",
            "image": {"@type": "ImageObject",  "height":"100", "width": "100", "url": "#{mainimagefilepath}"},
            "author": {"@type": "Person", "name": "AlmosLataan"},
            "headline": "#{post.posttitle}",
            "publisher": {"@type":"Organization", "name": "AlmosLataan", "logo":{"URL": ""}},
            "datePublished": "#{post.postdate}"}
    if alertmessage
        p(style="color: red")=alertmessage
    if post
        if loggedin && isadmin
            form(name="editpost", action="/blog/editpost", method="get")
                input(type="hidden", name="postid" value=post.id)
                input(type="submit", value="editpost")
        
        article(class="article")
            div(class="articlebackground")
                header
                    h1= post.posttitle
                    p
                        time= (moment(post.postdate).format('MMM Do YYYY'))
                if mainimage
                    div
                        if mainimage.orientation=="L"
                            img(class="articlelandscapeimage", src=mainimage.imagefilepath, alt=mainimage.imagealt, title=mainimage.imagetitle) 
                        else
                            img(class="articleportraitimage", src=mainimage.imagefilepath, alt=mainimage.imagealt, title=mainimage.imagetitle) 
                        if mainimage.postimagecaption != undefined
                            br
                            Label(style="font-size: 0.75em;")!="<i>"+mainimage.imagetitle+"</i>"
                            br
                            Label(style="font-size: 0.75em;")!=mainimage.postimagecaption
                p(class="articlemainparagraph")!=post.postbody
            //- div(class="articleAdvertisement" style="width:20%, float:right;display:inline-block; ;")
            //-    img(src="/uploads/Venetian.jpg"  alt="Tiles above and below and Van Gogh Style Tree")